@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}


body {
    /*background-color: rgb(17, 17, 17);*/
    background: linear-gradient(-45deg, #040404, #141414);
    animation: gradient 15s ease infinite;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.target {
    position: relative;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.canvas-container {
    height: 390px;
    width: 310px;
}

.view-btn {
    position: absolute;
    transform: translate(35%, 0.5rem);
    animation: slide-in-home-text-btn ease 1750ms;
}

.view-btn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
    transform: translate(35%, 0.5rem) scale3d(1.2,1.2,1) rotate(-2deg);
}


.three-canvas {
    margin-right: 40px;
    width: 40px;
    height: 40px;
    animation: slide-in ease 1750ms
}

.Logo {
    animation: slide-in ease 1000ms;
    color: white;
    margin-left: 10px;

}
.HomeLogo {
    color: white;
    animation: slide-in-home-text ease 1500ms;
    max-width: 250px;

}

@keyframes typewriter {
    from {width: 0;}
    to {width: 24em;}
}

@keyframes slide-in-home-text-btn {
    from {transform: translate(-700%, 0.5rem);}
    to {transform: translate(35%, 0.5rem);}
}

@keyframes slide-in-home-text {
    from {transform: translateX(-500%);}
    to {transform: translateX(0%);}
}
@keyframes slide-in {
    from {transform: translateX(-500%);}
    to {transform: translateX(0%);}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

